@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        background: #111315;
        color: #fff;
    }
}

.container {
    @apply mx-auto;
}

.overflow-text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
